#blas: replaced with apt/brew install depending on OS
#openssl: not found but "ssl" is part of the standard library set
#python.app: incompatible with other libs, but appears to be unused?
alabaster
appnope
appscript; platform_system == "Darwin"
asn1crypto
astroid
astropy
atomicwrites
attrs
babel
backcall==0.2.0
backports.os
backports.shutil_get_terminal_size
backports.tarfile
beautifulsoup4
bitarray
bkcharts
bleach
blosc
bokeh
boto
bottleneck
certifi
cffi
chardet
click
cloudpickle
clyent
colorama
contextlib2
cryptography
cycler
cython
cytoolz
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
dash==2.17.1
dask
decorator
defusedxml
distributed
docutils
entrypoints
et-xmlfile
fastcache
filelock
flask
flask-compress==1.15
fsspec
future==1.0.0
gevent
glob2
gmpy2
greenlet
h5py
heapdict
html5lib
hypothesis
idna
imageio
imagesize
importlib-metadata
inflect==7.3.1
intel-openmp; platform_machine == "x86_64"
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jaraco.itertools
jdcal
jedi
jinja2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-server
keyring
kiwisolver
lap==0.4.0; platform_machine == "x86_64"
-e git+https://github.com/gatagat/lap.git@v0.4.0#egg=lap
lapjv==1.3.27; platform_machine == "x86_64"
lazy-object-proxy
libarchive-c
lief
llvmlite
locket
lxml
markupsafe
matplotlib
mccabe
mistune
mkl-fft; platform_machine == "x86_64"
mkl-random; platform_machine == "x86_64"
mkl-service; platform_machine == "x86_64"
mkl; platform_machine == "x86_64"
mock
more-itertools
mpc; platform_machine == "x86_64"
mpfr
mpmath
msgpack-python
multipledispatch
munkres==1.1.4
nbconvert
nbformat
networkx
nltk
nose
notebook
numba
numexpr
numpy==1.26.4  # pinned temporarily to avoid rdkit issue
numpydoc
olefile
openpyxl
packaging
pandas
pandoc
pandocfilters
parso
partd
path.py
pathlib2
patsy
pep8
pexpect
pickleshare
pillow
pkginfo
plotly==5.23.0
pluggy
ply
prometheus-client
prompt-toolkit
psutil
ptyprocess
py
py-boost
pycodestyle
pycosat
pycparser
pycrypto
pycurl
pyflakes
pygments
pylint
pyodbc
pyopenssl
pyparsing
pyqt5
pyreadline # replaced readline
pyrsistent
pysocks
pytest
pytest-arraydiff
pytest-astropy
pytest-astropy-header
pytest-doctestplus
pytest-openfiles
pytest-remotedata
python-dateutil
pytz
pywavelets
pyyaml
pyzmq
qtawesome
qtconsole
qtpy
rdkit==2023.09.6  # pinned temporarily, as new changes break older APIs
requests
retrying==1.3.4
rope
ruamel_yaml
scikit-image
scikit-learn
scipy
seaborn
setuptools
simplegeneric
singledispatch
sip
six
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
spyder
spyder-kernels
sqlalchemy
statsmodels
svgutils==0.3.4
sympy
tables
tbb; platform_machine == "x86_64"
tblib
terminado
testpath
toolz
tornado
tqdm
traitlets
umap-learn==0.5.6
unicodecsv
urllib3
wcwidth
webencodings
werkzeug
wheel
widgetsnbextension
wrapt
wurlitzer
xlrd
xlsxwriter
xlwings
xlwt
ruamel.yaml
ruamel.yaml.clib

